<%= form_with(model: blade, local: true) do |form| %>
  <% if blade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blade.errors.count, "error") %> prohibited this blade from being saved:</h2>

      <ul>
      <% blade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand, id: :blade_brand %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :blade_model %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost, id: :blade_cost %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
