<h1>Catalog</h1>

<div class='prod'>
<% @prod.each do |p| %>
  <product>
	<table width='100%'>
	<tr><td align='center'><b><%= link_to p.brand,  product_path(p.id) %> </b></td></tr>
	<tr><td><center><%= link_to p.model, product_path(p.id) %> </center></td></tr>
	<tr><td align='center'>
	<%= form_tag :controller => 'home', :action => 'buy' do %>
		<b>Price:</b> <%= p.cost %>
		<%= hidden_field_tag 'prodid', "#{p.id}" %> </br>
		<%= select_tag "qty", "<option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option>".html_safe %>
		<%= submit_tag 'Add To Cart', :class => 'button1' %>
	<% end %>
	</td></tr>
	</table>
  </product>
<% end %>
</div>
