<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @customer.customer_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @customer.zip %>
</p>

<hr>
Here are the past sale transactions of this customer:
<table>
  <thead>
    <tr>
     <th>Sale ID</th>
      <th>Boot</th>
        <th>Blade</th>
        <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @custsale.each do |c| %>
      <tr>
        <td><%= c.id %></td>
          <td><%= c.boot %></td>
          <td><%= c.blade %></td>
          <td><%= c.cost %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
